[flake8]
ignore=
    # line too long
    E501,
    #line break after binary operator
    W503,
    ; # assign but never used
    ; F841,
    # invalid escape sequence 
     W605 ,
    # unable to detect undefined names
      F403 ,
    # defined from star imports
      F405,